body {
    -webkit-app-region: drag;
    margin: 0;
}

iframe {
    position: fixed; 
    top: 0px; 
    left: 0px; 
    bottom: 0px; 
    right: 0px;
    height: 100%;
    width: 100%;
    border: 0; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    z-index: 999999;
}